# Data science tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Some of the popular languages that Data Scientists use are:
1. Python
2. R language
3. SQL

- Some of the commonly used libraries used by Data Scientists include:
1. Scikit Learn
2. Pandas
3. Numpy
4. Matplotlib

| Data Science Tools |
| --- |
| R Studio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
200 / 60

3.3333333333333335

## Author
Dennis Moncy